<?xml version="1.0" encoding="UTF-8"?>
<web-app>
	<display-name>Candi</display-name>
	
	<servlet>
		<servlet-name>Confirm</servlet-name>
		<servlet-class>candi.auth.Confirm</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Confirm</servlet-name>
		<url-pattern>/Confirm/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>CandiAjax</servlet-name>
		<servlet-class>candi.auth.CandiAjax</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CandiAjax</servlet-name>
		<url-pattern>/CandiAjax/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
        <servlet-name>LogUploadServlet</servlet-name>
        <servlet-class>candi.file.LogUploadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogUploadServlet</servlet-name>
        <url-pattern>/log_upload</url-pattern>
    </servlet-mapping>
	
	<servlet>
        <servlet-name>MetaUploadServlet</servlet-name>
        <servlet-class>candi.file.MetaUploadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MetaUploadServlet</servlet-name>
        <url-pattern>/meta_upload</url-pattern>
    </servlet-mapping>
	
</web-app>